<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="~/Image/icon.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/hover-min.css" rel="stylesheet" />
    <link href="~/Content/hover.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
   
        @RenderBody()
       
   
</body>
</html>
@*<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Okan ORHAN", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>
    <div class="navbar-collapse collapse">
        <div class="overlay">
            <ul class="nav navbar-nav " style="float:right;">

                <li><a href="#Hakkimda">Hakkimda</a></li>
                <li><a href="#Yeteneklerim">Yeteneklerim</a></li>
                <li><a href="#IsDeneyimi">İş Deneyimlerim</a></li>
            </ul>
        </div>

    </div>*@
