
@{
    ViewBag.Title = "Bilgilendirme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<div class="col-md-4 col-sm-8 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-university"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Kariyer Editör</span>
            <span class="info-box-number"></span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
<div class="col-md-4 col-sm-8 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-book"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Blog Editör</span>
            <span class="info-box-number"></span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
<div class="col-md-4 col-sm-8 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-comments-o"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Yorum Editör</span>
            <span class="info-box-number"></span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
<div class="col-md-4 col-sm-8 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-check"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Yeteneklerim Editör</span>
            <span class="info-box-number"></span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
<div class="col-md-4 col-sm-8 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-user-circle-o"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Üye  Kontrol Paneli</span>
            <span class="info-box-number"></span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
<div class="col-md-4 col-sm-8 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-file"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Dosyalar</span>
            <span class="info-box-number"></span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>