@model okanorhancomAdmin.AdminWebServis.Kariyer
@{
    ViewBag.Title = "KariyerEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="../Admin/KariyerEdit" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="form-group">
                        <label>Kariyer Başlığı</label>
                        <input class="form-control" placeholder="@Model.BaslikTr" name="BaslikTr" required="required">
                    </div>
                    <label>Yayın  Durumu</label>
                    <select class="form-control select2" name="Aktif" style="width: 100%;">
                        <option selected="selected" value="1">True</option>
                        <option value="0">False</option>

                    </select>
                </div>

                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">
                            İçerik Tr Editor

                        </h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                    title="Kapat">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                        <!-- /. tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body pad">
                        <textarea id="editor1" name="IcerikTr" rows="10" cols="80">
                            @Model.IcerikTr
                    </textarea>
                    </div>
                </div>
                <!-- /.box -->
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">
                            İçerik En Editor
                        </h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                    title="Kapat">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                        <!-- /. tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body pad">

                        <textarea id="editor2" name="IcerikEn" rows="10" cols="80">
                               @Model.IcerikEn
                    </textarea>

                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" name="KariyerID" value="@Model.KariyerID" />
                    <button style="float:right;" type="submit" class="btn btn-primary">Ekle</button>
                </div>
            </form>
        </div>
        <!-- /.col-->
    </div>
    <!-- ./row -->
</section>

